In [9]:
##1
#when to use for loop and when to use while loop
# for loop: we use for loop when we know the no. of iterations and
#we use use while loop when we dont know exact no. of iterations but we know the stopping conditions.
# while loop first checks the condition and if its condition is true then then it is executed while
#for loop iterates over the specified range.
# for loop more useful and easy when we have to iterate over the iterable objects like list,tuple ,string etc.
"""l=list(range(1,11))
for i in l:
    print(i)
# using while loop: using while loop also we can get the same result but it requires more line of code .
i=1
while i<11:
    print(l[i])
    i=i+1"""
# while loop is useful when we dont know the exact no. of iterations. example: suppose we want to enter the username and password 
while True:
    username=input("enter the username:")
    password=input("enter your password:")
    if username=="username" and password=="password":
        print("login sucessfully")
        break
    else :
        print("invalid username or password")
# in the above case we dont know the exact number of times when the user will enter the correct username and password.hence we had used while loop.

enter the username: hammad
enter your password: farid

invalid username or password

enter the username: username
enter your password: password

login sucessfully

In [13]:
##2.
#python program to find te sum and product of first 10 natural nos. using for loop:
sum=0
product=1
for i in range(1,11):
    sum=sum+i
    product=product*i
print("the sum of first 10 natural nos. is :",sum)
print("the product of first 10 natural nos. is :",product)

the sum of first 10 natural nos. is : 55
the product of first 10 natural nos. is : 3628800

In [14]:
#2
#python program to find te sum and product of first 10 natural nos. using while loop:
sum=0
product=1
i=1
while i<=10:
    sum=sum+i
    product=product*i
    i+=1
print("the sum of first 10 natural nos. is :",sum)    
print("the product of first 10 natural nos. is :",product)

the sum of first 10 natural nos. is : 55
the product of first 10 natural nos. is : 3628800

In [4]:
##3.
unit=int(input("enter the units of electricity consumed in a month:"))
bill=1
if unit<=100:
    bill=unit*4.5
elif unit>100 and unit<=200:
    bill=100*4.5+(unit-100)*6
elif unit>200 and unit<=300:
    bill=100*4.5+100*6+(unit-200)*10
else :
    bill=100*4.5+100*6+100*10+(unit-300)*20
    
print("the total electric bill is :",bill)

enter the units of electricity consumed in a month: 310

the total electric bill is : 2250.0

In [17]:
##4.
# using for loop:
l=list(range(1,101))
l1=[]
for i in l:
    n=i**3
    if n%4==0 or n%5==0:
        l1.append(n)
l1

[8,
 64,
 125,
 216,
 512,
 1000,
 1728,
 2744,
 3375,
 4096,
 5832,
 8000,
 10648,
 13824,
 15625,
 17576,
 21952,
 27000,
 32768,
 39304,
 42875,
 46656,
 54872,
 64000,
 74088,
 85184,
 91125,
 97336,
 110592,
 125000,
 140608,
 157464,
 166375,
 175616,
 195112,
 216000,
 238328,
 262144,
 274625,
 287496,
 314432,
 343000,
 373248,
 405224,
 421875,
 438976,
 474552,
 512000,
 551368,
 592704,
 614125,
 636056,
 681472,
 729000,
 778688,
 830584,
 857375,
 884736,
 941192,
 1000000]

In [21]:
#4
# using  while loop
l2=[]
i=1
while i<101:
    n=i**3
    if n%4==0 or n%5==0:
        l2.append(n)
    i+=1    
l2

[8,
 64,
 125,
 216,
 512,
 1000,
 1728,
 2744,
 3375,
 4096,
 5832,
 8000,
 10648,
 13824,
 15625,
 17576,
 21952,
 27000,
 32768,
 39304,
 42875,
 46656,
 54872,
 64000,
 74088,
 85184,
 91125,
 97336,
 110592,
 125000,
 140608,
 157464,
 166375,
 175616,
 195112,
 216000,
 238328,
 262144,
 274625,
 287496,
 314432,
 343000,
 373248,
 405224,
 421875,
 438976,
 474552,
 512000,
 551368,
 592704,
 614125,
 636056,
 681472,
 729000,
 778688,
 830584,
 857375,
 884736,
 941192,
 1000000]

In [22]:
l2==l1

True

In [25]:
# 5
a="I want to become a data scientist"
vowels="aeiou"+"aeiou".upper()
count=0
for i in a:
    if i in vowels:
        count=count+1
count

12